{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/watcha_detail.css' %}">

  <div class="nav">

    <a href="{% url 'watcha:main' %}"><div class="nav__watcha">WATCHA</div></a>


    <div class="nav__search">
      <form class="search" action="{% url 'watcha:search' %}" method="GET">
        <div class="nav__search">
          <span class="nav__search__img"><i class="fas fa-search"></i></span>
            <input type="search" class="search-bar" name="q" placeholder="작품, 제목, 배우, 감독을 검색해보세요.">
        </div>
      </form>
    </div>

    <a href="{% url 'watcha:profile' %}">
    <div class="nav__profile">
      <i class="fas fa-user-circle"></i>
    </div>
    </a>

  </div>

<div class="main__content_flex">   
  <div class="main__content">
    <div class="main__title">
      {{ movie.title }}
    </div>

    <div class="main__poster">
      <img src="{{ movie.poster }}">
    </div>
    <div class="main__info">
     <!--  작가: 
      출연진:
      줄거리: -->
    </div>
    <div id = "comment" class="comment__new">
           <a href="{% url 'watcha:comment' movie.title %}" class="top-menu"><span id="comment__s" class="glyphicon glyphicon-plus">코멘트 작성하기</span></a>
    </div>
    <div class="liner">
       
    </div>
    <div class="comment">
      {% for comment in comment_list %}
      <div class="comment__box">
        <br>
        작성자 : {{ comment.author }}
        <a class="top-menu" href="{% url 'watcha:comment_edit' movie.title %}"><span class="glyphicon glyphicon-pencil">수정하기</span></a>
        <a class="top-menu" href="{% url 'watcha:comment_delete' comment.pk %}"><span class="glyphicon glyphicon-remove">삭제하기</span></a>
        <br>
        <br>
        <br>
        <br>
        <br>
        내용 : {{ comment.comment }}
        <br>
        <br>
        <span class="star"><i class="fas fa-star"></i> {{ comment.star }}</span>
        <br>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">

  $('#comment').on('mouseenter', Mouseenter);
  $('#comment').on('mouseleave', Mouseleave);

  function Mouseenter() {
    $('#comment').css('box-shadow', '7px 7px #e1e1e1');
    $('#comment__s').css('color', 'black');
  }

   function Mouseleave() {
    $('#comment').css('box-shadow', 'none');
    $('#comment__s').css('color', 'white');
  }

</script>


















<!--  {{ movie.title }}
      {{ movie.content }}
      <a href="{% url 'watcha:comment' movie.title %}" class="top-menu"><span class="glyphicon glyphicon-plus">평가 작성</span></a>
      <div class="comment">
      {% for comment in comment_list %}
        <br>
        작성자 : {{ comment.author }}
        <br>
        내용 : {{ comment.comment }}
        <br>
        별점 : {{ comment.star }}
        <br>
      {% endfor %} -->