{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/watcha_search.css' %}">
</head>
<body>
<div class="header">
  
</div>


<div class="content">
<form class="search" action="{% url 'watcha:search' %}" method="GET">
  <input type="search" class="search-bar" name="q" placeholder="작품, 제목, 배우, 감독을 검색해보세요">
  <span id="search-icon"><img src="{% static 'img/search-icon.png' %}" style="width: 30px; height: 30px;"></span>
</form>

<div>
  {% for item in items %}
    <ul>
      <div>{{ forloop. }}
        <a href="http://localhost:8000/watcha/comment/"><img src="{{ item.image }}" alt="" width="110" height="150">
          <p class="title">{{ item.title|safe }}</p></a>
        <span>{{ item.pubDate }}</span>-<span>{{ item.director }}</span>
        <hr class="divider">
      </div>
    </ul>
  {% endfor %}
</div>
</div>