{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>왓챠</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/watcha_search.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
<div class="header">
  <a href="{% url 'watcha:main' %}"><div class="logo">WATCHA</div></a>

  <div class="header__search">
    <form class="search" action="{% url 'watcha:search' %}" method="GET">
  <span class="search__img"><i class="fas fa-search"></i></span>
    <input type="search" class="search-bar" name="q" placeholder="작품, 제목, 배우, 감독을 검색해보세요.">
    </form>
  </div>

  <a href="{% url 'watcha:profile' %}"><div class="header__user"><i class="fas fa-user-circle"></i></div></a>

</div>


<div class="no__content">
 <h2>검색 결과가 없네요. 제 잘못이 아니라 네이버 영화 오픈 api의 잘못입니다 :) </h2>
</div>