<h1>{{ movie.title }}</h1>
<h1>{{ movie.content }}</h1>
<h1>{{ movie.running }}</h1>
<h1>{{ movie.age }}</h1>
<h1>{{ movie.genre_set }}</h1>
<h1>{{ movie.rank }}</h1>



{#content = models.TextField(verbose_name='줄거리')#}
{#    created_date = models.DateTimeField(default=timezone.now)#}
{#    published_date = models.DateTimeField(auto_now=True, blank=True, null=True)#}
{#    running = models.CharField(max_length=10, verbose_name='러닝타임', blank=True, null=True)#}
{#    age = models.CharField(max_length=10, verbose_name='나이제한', blank=True, null=True)#}
{#    reservationRate = models.CharField(max_length=10, verbose_name='예매율', blank=True, null=True)#}
{#    genre_set = models.ManyToManyField('Genre', blank=True, null=True)#}
{#    cast_set = models.ManyToManyField('Cast', blank=True, null=True)#}
{#    director_set = models.ManyToManyField('Director', blank=True, null=True)#}
{#    country_set = models.ManyToManyField('Country', blank=True, null=True)#}
{#    rank = models.CharField(max_length=20, verbose_name='순위', blank=True, null=True)#}