{% load static %}
<form action="" method="POST">
  {% csrf_token %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" 
  href="{% static 'css/watcha_comment.css' %}">

 <div class="main__helper">
 	<div class="main">
 		<div class="title">
 			<i class="fas fa-times"></i>
 			<span>{{ movie.title }}</span>
 		</div>
 		<div class="comment">
 			<form action="" method="post" enctype="multipart/form-data">
  			{% csrf_token %}
 			<div class="comment__input">
				{{ form.comment }}
			</div>
			<div class="star__input">
				<i id = "one" class="fas fa-star"></i>
				<i id = "two" class="fas fa-star"></i>
				<i id = "three" class="fas fa-star"></i>
				<i id = "four" class="fas fa-star"></i>
				<i id = "five" class="fas fa-star"></i>
			</div>
			<button id = "button" type="submit">평가하기</button>
			</form>
 		</div>
 	</div>
  </div>
</form>




<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#one').on('mouseenter', mouseEnterPhoto_1);
    $('#two').on('mouseenter', mouseEnterPhoto_2);
    $('#three').on('mouseenter', mouseEnterPhoto_3);
    $('#four').on('mouseenter', mouseEnterPhoto_4);
    $('#five').on('mouseenter', mouseEnterPhoto_5);

    $('#one').on('mouseleave', mouseLeavePhoto_1);
    $('#two').on('mouseleave', mouseLeavePhoto_2);
    $('#three').on('mouseleave', mouseLeavePhoto_3);
    $('#four').on('mouseleave', mouseLeavePhoto_4);
    $('#five').on('mouseleave', mouseLeavePhoto_5);

// 별 1개
    function mouseEnterPhoto_1() {
    	$('#one').css('color', 'yellow');
    }
    function mouseLeavePhoto_1() {
    	$('#one').css('color', 'gray');
    }
// 별2개 
	function mouseEnterPhoto_2() {
    	$('#one').css('color', 'yellow');
    	$('#two').css('color', 'yellow');
    }
    function mouseLeavePhoto_2() {
    	$('#one').css('color', 'gray');
    	$('#two').css('color', 'gray');
    }
// 별3개 
	function mouseEnterPhoto_3() {
    	$('#one').css('color', 'yellow');
    	$('#two').css('color', 'yellow');
    	$('#three').css('color', 'yellow');
    }
    function mouseLeavePhoto_3() {
    	$('#one').css('color', 'gray');
    	$('#two').css('color', 'gray');
    	$('#three').css('color', 'gray');
    }
// 별4개
	function mouseEnterPhoto_4() {
    	$('#one').css('color', 'yellow');
    	$('#two').css('color', 'yellow');
    	$('#three').css('color', 'yellow');
    	$('#four').css('color', 'yellow');
    }
    function mouseLeavePhoto_4() {
    	$('#one').css('color', 'gray');
    	$('#two').css('color', 'gray');
    	$('#three').css('color', 'gray');
    	$('#four').css('color', 'gray');
    }
// 별5개 
	function mouseEnterPhoto_5() {
    	$('#one').css('color', 'yellow');
    	$('#two').css('color', 'yellow');
    	$('#three').css('color', 'yellow');
    	$('#four').css('color', 'yellow');
    	$('#five').css('color', 'yellow');
    }
    function mouseLeavePhoto_5() {
    	$('#one').css('color', 'gray');
    	$('#two').css('color', 'gray');
    	$('#three').css('color', 'gray');
    	$('#four').css('color', 'gray');
    	$('#five').css('color', 'gray');
    }



</script>
 

