* {
  box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	margin: 0px;
	background-color: #f5f5f5;
}

.flex {
	display: flex;
	justify-content: center;
}

.border {
	margin-bottom: 20px;
	margin-top: 40px;
	width: 380px;
	height: 600px;
	border: 0.5px solid #656262;
	border-radius: 8px;
	background-color: white;
}

.border__title {
	text-align: center;
	margin-top: 10px;
	font-size: 30px;
	color: #ff2f6e;
	font-weight: 900;
}

.border__login {
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	color: black;
	font-weight: 900;
}

.input {
	margin-top: 15px;
	text-align: center;
}

#val__ID {
	font-size: 10px;
	color: #ff2f6e;
}

#val__email {
	font-size: 10px;
	color: white;
}


.input__ID input {
	width: 300px;
	height: 35px;
	background-color : #F5F5F5;
	margin-bottom: 1px;
	border-radius: 5px;
	border: none;
	padding-left: 10px;
}

.input__PW input {
	width: 300px;
	height: 35px;
	background-color : #F5F5F5;
	border-radius: 5px;
	border: none;
	padding-left: 10px;
	margin-top: 18px;
}

.input__agree {
	margin-top: 12px;
	font-size: 16px;
}

.input__submit button {
	margin-top: 20px;
	width: 300px;
	height: 35px;
	background-color: #ff2f6e;
	border-radius: 5px;
	border: none;
	color: white;
	font-weight: 900;
}

.find__PW {
	margin-top: 20px;
	text-align: center;
}

.find__PW span {
	color: #ff2f6e;
	font-weight: 900;
}

.no__ID {
	text-align: center;
	margin-top: 15px;
}

.no__ID span {
	color: #ff2f6e;
	font-weight: 900;
}

.footer {
	display: flex;
	justify-content: center;
}

.line {
	display: inline-block;
	margin-top: 30px;
	width: 340px;
	height: 30px;
	border-top: 0.3px solid black;
	text-align: center;
	z-index: 0;
}

.input__submitFB {
	display: flex;
	justify-content: center;
}

.input__submitFB button {
	margin-top: 20px;
	width: 300px;
	height: 35px;
	background-color: #3c5aa0;
	border-radius: 5px;
	border: none;
	color: white;
	font-weight: 900;
}

