* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: white;
}

.header {
	position: fixed;
	background-color: white;
	height: 70px;
	border: 1px solid #d7d7d7;
	width: 100%;
}

.content {
	margin-top:90px;
}